.travel h3 {
  text-align: center;
}

.travel__airports {
  display: block;
  text-align: center;
}

.travel__airports * {
  margin: auto;
}

.travel__airport {
  margin-top: 40px;
}

.map--travel {
  width: 100%;
  height: 100vw;
  max-width: 400px;
  max-height: 400px;
  margin: auto;
}

@media (min-width: 768px) {
  .travel__airports {
    display: flex;
    justify-content: space-around;
  }

  .travel__airport {
    margin: 10px;
    max-width: 400px;
  }

  .map--travel {
    width: 40vw;
    height: 40vw;
  }
}
