body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("main.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  font-family: Arial;
}

.intro {
  color: #fff;
}

.title {
  font-size: 5em;
}

.subtitle {
  font-size: 3em;
}
