* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

a {
  word-wrap: break-word;
}

.section {
  position: relative;
  z-index: 200;
  padding: 10px 10px 30px 10px;
  background-color: #fff;
}

.content {
  position: relative;
  z-index: 200;
  box-sizing: border-box;
  padding: 10px 10px 30px 10px;
  background-color: #fff;
}

