* {
  box-sizing: border-box;
}

body {
  font-family: 'PT Serif', sans-serif;
  font-weight: 300;
  line-height: 1.618em;
  background-color: #f7f7f7;
  font-size: 18px;
}

a {
  word-wrap: break-word;
}

.section {
  padding: 0 10px 120px 10px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

@media (min-width: 768px) {
  .section {
    padding: 0 30px 120px 30px;
  }
}

h2 {
  margin: 4rem 0;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  text-align: center;
  line-height: 3rem;
  color: #d43938;
}

h3 {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 6rem;
    line-height: 6rem;
  }

  h3 {
    font-size: 2rem;
  }
}

.wrapper--full-width {
  position: relative;
  z-index: 200;
  padding-left: 0;
  padding-right: 0;
}

.wrapper--full-width:nth-child(odd) {
  background-color: #f7f7f7;
}

.wrapper--full-width:nth-child(even) {
  background-color: #f2e6d9;
}

.button {
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.5);
}

.button:hover {
  text-decoration: underline;
}

.button--secondary {
  color: rgba(8,88,153,1);
  border: 1px solid rgba(8,88,153,1);
  background-color: #fff;
  text-shadow: none;
}

.button--primary {
  color: #fff;
  background: linear-gradient(45deg, rgba(8,88,153,1) 0%, rgba(49,131,194,1) 100%);
}
