.nav {
  position: fixed;
  width: 100%;
  color: white;
  z-index: 300;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav__positioner {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.nav__wrapper {
  position: absolute;
  margin: 10px;
  right: 0;
  font-size: 1.5rem;
}

.nav__button {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.nav__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.nav__checkbox {
  display: none;
}

.nav__checkbox~.nav__menu-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100vw - 20px);
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  transition: transform 0.35s ease-in-out;
  transform: translateY(52%) scaleY(0);
  overflow: hidden;
}

.nav__checkbox:checked~.nav__menu-wrapper {
  transform: translateY(101.99%) scaleY(1);
}

.nav__checkbox~.nav__menu-wrapper .nav__menu-items {
  margin: 0;
  padding: 0;
  transition: transform .35s ease-in-out;
  transform: translateY(50.99%) scaleY(2);
}

.nav__checkbox:checked~.nav__menu-wrapper .nav__menu-items {
  transform: translateY(0) scaleY(1);
}

.nav__menu-item {
  padding: 10px 20px;
  font-weight: bold;
}

.nav__quick-link {
  position: absolute;
  margin: 10px;
  padding: 10px;
  left: 0;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.nav__quick-link:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 48rem) {
  .nav__quick-link {
    margin: 10px 10px 10px 30px;
  }

  .nav__wrapper {
    margin: 10px 30px 10px 10px;
  }
}


/* @media (min-width: 400px) { */
/*   .nav__wrapper { */
/*     position: relative; */
/*     right: auto; */
/*     padding: 0; */
/*     background-color: unset; */
/*     border-radius: unset; */
/*     cursor: inherit; */
/*     transition: none; */
/*   } */

/*   .nav__wrapper:hover { */
/*     background-color: unset; */
/*   } */

/*   .nav__button { */
/*     display: none; */
/*   } */

/*   .nav__checkbox~.nav__menu-wrapper { */
/*     position: relative; */
/*     bottom: auto; */
/*     right: auto; */
/*     width: unset; */
/*     margin-left: 130px; */
/*     max-width: unset; */
/*     background-color: unset; */
/*     border-radius: unset; */
/*     transition: none; */
/*     transform: none; */
/*     overflow: visible; */
/*   } */

/*   .nav__checkbox:checked~.nav__menu-wrapper { */
/*     transform: none; */
/*   } */

/*   .nav__checkbox~.nav__menu-wrapper .nav__menu-items { */
/*     margin: 0; */
/*     padding: 0; */
/*     transition: none; */
/*     transform: none; */
/*     text-align: right; */
/*   } */

/*   .nav__checkbox:checked~.nav__menu-wrapper .nav__menu-items { */
/*     transform: none; */
/*   } */

/*   .nav__menu-items { */
/*     list-style: none; */
/*   } */

/*   .nav__menu-item { */
/*     display: inline-block; */
/*     cursor: pointer; */
/*     background-color: rgba(0, 0, 0, 0.2); */
/*     margin: 0 10px; */
/*     border-radius: 5px; */
/*   } */
/* } */
